{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <div class="auth-card">
        <div class="header">
            <a class="back-link" href="#" onclick="history.back(); return false;">
                <img class="back-icon" src="https://cdn-icons-png.flaticon.com/128/271/271218.png" alt="иконка назад" title="Назад">
            </a>
            <h1>Регистрация</h1>
        </div>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-submit" type="submit">Зарегистрироваться</button>
            </form>
        </div>
        <p class="auth-footer">Уже есть аккаунт? <a href="{% url 'login' %}">Войти здесь</a></p>
    </div>
</body>
</html>
